{{#if icon}}
<div onClick="javascript:location.href='/page/{{wwUri}}'" class="feedBundle">
	<div class="articleContentBox">
		<div class="articleContent">
			<div class="feedBundleMeta">
				<span class="feedItemType">Request</span>
				<span class="bullet"> · </span>
				<span class="timestamp">
					<a>{{timeAgo createdAt}}</a>
				</span>
			</div>
			<div class="contentHeader">
				<span class="imgWrapper">
					<img src="{{avatarNotNull user.avatar}}" class="userImg" />
				</span>
				<span class="layoutTextWrapper homeFeedRequest">
					<div>
						<span class="username underlineOnHover">{{user.displayName}}</span>{{#if user.title}}<span class="userInfo">, {{user.title}}</span>{{/if}}
					</div>
					<div class="credibilityFacts feedBundleMeta">
						<span class="timestamp">
							<a>Requested {{timeAgo createdAt}}</a>
						</span>
					</div>
				</span>
			</div>
		</div>
		<div class="articleImg">
			<img src={{icon}}>
		</div>
	</div>
	<div class="bundleTitle">
		{{title}}
	</div>
	<div class="contentMain" style="margin-top: -5px;">
		{{description}}
	</div>
	<div class="actionBar">
		<span class="connectButton">
			Connect
		</span>
		<span class="connections underlineOnHover">
			Connections<span class="connectionsTotal">{{connections.length}}</span>
		</span>
		<div class="socialShare">
			<span class="shareIcon">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
			</span>
			<span class="shareIcon">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</span>
			<span class="shareIcon">
				<i class="fa fa-share-square-o" aria-hidden="true"></i>
			</span>
			<span class="shareIcon">
				<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
			</span>
		</div>
	</div>
</div>
{{else}}
<div onClick="javascript:location.href='/page/{{wwUri}}'" class="feedBundle">
	<div class="feedBundleMeta">
		<span class="feedItemType">Request</span>
		<span class="bullet"> · </span>
		<span class="timestamp">
			<a>{{timeAgo createdAt}}</a>
		</span>
	</div>
	<div class="bundleTitle">
		{{title}}
	</div>
	<div class="contentHeader">
		<span class="imgWrapper">
			<img src={{avatarNotNull user.avatar}} class="userImg" />
		</span>
		<span class="layoutTextWrapper homeFeedRequest">
			<div>
				<span class="username">{{user.displayName}}</span>{{#if user.title}}<span class="userInfo">, {{user.title}}</span>{{/if}}
			</div>
			<div class="credibilityFacts feedBundleMeta">
				<span class="timestamp">
					<a>Requested 21m ago</a>
				</span>
			</div>
		</span>
	</div>
	<div class="contentMain" style="margin-top: -5px;">
		{{description}}
	</div>
	<div class="actionBar">
		<span class="connectButton">
			Connect
		</span>
		<span class="connections underlineOnHover">
			Connections<span class="connectionsTotal">{{connections.length}}</span>
		</span>
	</div>
</div>
{{/if}}

{{#section 'foot'}}
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
