<a href="javascript:location.href='/page/{{wwUri}}'">
	{{!-- {{toJSON this}} --}}
	<div class="feedBundle">
		<div class="feedBundleMeta">
			{{#if tag.0.label}}
			<span class="topic">{{tag.0.label}}</span>
				{{#if tag.1.label}}
				<span class="bullet"> · </span>
				{{/if}}
			{{/if}}
			{{#if tag.1.label}}
			<span class="topic">{{tag.1.label}}</span>
				{{#if tag.2.label}}
				<span class="bullet"> · </span>
				{{/if}}
			{{/if}}
			{{#if tag.2.label}}
			<span class="topic">{{tag.2.label}}</span>
			{{/if}}
		</div>
		<div class="bundleTitle">
			{{title}}
		</div>
		<div class="contentMain">
			{{description}}
		</div>

		<div class="divider"></div>

		<div class="centerAlign">
			<div class="contentHeader">
				<span class="imgWrapper">
					<img src="{{avatarNotNull userWhoMadeConnection.avatar}}" class="userImg" />
				</span>
				<span class="layoutTextWrapper">
					<div class="userDetails">
						<div class="username" style="max-width: 182.301px;">{{userWhoMadeConnection.displayName}}</div>{{#if userWhoMadeConnection.title}}<div class="userInfo">, {{userWhoMadeConnection.title}}</div>{{/if}}
					</div>
					<div class="credibilityFacts feedBundleMeta">
						<div class="timestamp">
							Connected {{timeAgo connections.0.createdAt}}
						</div>
					</div>
				</span>
			</div>
		</div>
		<div class="divider"></div>
		<div class="bundleTitle">
			{{connections.0.title}}
		</div>
		<div class="contentMain">
			{{connections.0.description}}
		</div>
	</div>
</a>
