<div onClick="javascript:location.href='/page/{{wwUri}}'" class="feedBundle">
	<div class="feedBundleMeta">
		<span class="feedItemType">Connection</span>
		<span class="bullet"> 路 </span>
		<span class="topic">
			<a>
				CRISPR
			</a>
		</span>
		<span class="bullet"> 路 </span>
		<span class="feedReason">
			Topic you might like
		</span>
		<span class="bullet"> 路 </span>
		<span class="timestamp">
			<a>{{timeAgo createdAt}}</a>
		</span>
	</div>
	<div class="bundleTitle">
		{{title}}
	</div>
	<div class="contentMain">
		{{description}}
	</div>

	<div class="divider"></div>

	<div class="centerAlign">
		<div class="contentHeader">
			<span class="imgWrapper">
				<img src="{{userWhoMadeConnection.avatar}}" class="userImg" />
			</span>
			<span class="layoutTextWrapper">
				<div>
					<span class="username">{{userWhoMadeConnection.displayName}}</span><span class="userInfo">, CEO at Quora
					</span>
				</div>
				<div class="credibilityFacts feedBundleMeta">
					<span class="timestamp">
						<a>Connected {{timeAgo connections.0.createdAt}}</a>
					</span>
					<span class="bullet"> 路 </span>
					<span class="hoverUnderline">
						<a>Requested by Eoin McMillan</a>
					</span>
				</div>
			</span>
		</div>
	</div>
	<div class="divider"></div>
	<div class="bundleTitle">
		{{connections.0.title}}
	</div>
	<div class="contentMain">
		{{connections.0.description}}
	</div>
	<div class="actionBar">
		<span class="connectButton">
			Connect
		</span>
		<span class="connections underlineOnHover">
			Connections<span class="connectionsTotal">{{connections.length}}</span>
		</span>
		<div class="socialShare">
			<span class="shareIcon">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
			</span>
			<span class="shareIcon">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</span>
			<span class="shareIcon">
				<i class="fa fa-share-square-o" aria-hidden="true"></i>
			</span>
			<span class="shareIcon">
				<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
			</span>
		</div>
	</div>
</div>
