<a href="javascript:location.href='/page/{{wwUri}}'">
	<div class="feedBundle">
		<div class="feedBundleMeta">
			<span class="feedItemType">Connection</span>
			<span class="bullet"> · </span>
			<span class="timestamp">
				{{timeAgo createdAt}}
			</span>
		</div>
		<div class="bundleTitle">
			{{title}}
		</div>
		<div class="contentMain">
			{{description}}
		</div>

		<div class="divider"></div>

		<div class="centerAlign">
			<div class="contentHeader">
				<span class="imgWrapper">
					<img src="{{avatarNotNull userWhoMadeConnection.avatar}}" class="userImg" />
				</span>
				<span class="layoutTextWrapper">
					<div class="userDetails">
						<div class="username">{{userWhoMadeConnection.displayName}}</div>{{#if userWhoMadeConnection.title}}<div class="userInfo">, {{userWhoMadeConnection.title}}</div>{{/if}}
					</div>
					<div class="credibilityFacts feedBundleMeta">
						<div class="timestamp">
							Connected {{timeAgo connections.0.createdAt}}
						</div>
						<span class="bullet"> · </span>
						<div class="requester hoverUnderline">
							Requested by {{user.displayName}}
						</div>
					</div>
				</span>
			</div>
		</div>
		<div class="divider"></div>
		<div class="bundleTitle">
			{{connections.0.title}}
		</div>
		<div class="contentMain">
			{{connections.0.description}}
		</div>
		<div class="actionBar">
			<span class="connectButton">
				Connect
			</span>
			<span class="connections underlineOnHover">
				Connections<span class="connectionsTotal">{{connections.length}}</span>
			</span>
		</div>
	</div>
</a>
