<a href="/profile">
	<div class="identityModule">
		<div class="top_rail">
			<img src="/static/img/white_network.png" />
		</div>
			<div class="actor">
				<div class="profile_img_box">
					<img class="profile_img" src="{{avatarNotNull user.avatar}}"/>
				</div>
				<div class="actor_info">
					<div class="fullname">
						<a>{{user.displayName}}</a>
					</div>
					{{#if user.title}}
					<div class="title">{{user.title}}</div>
					{{else}}
					<div class="title incompleteProfile">Complete Your Profile</div>
					{{/if}}
				</div>
			</div>
		<div class="stats">
			<div class="number">{{userConnectionCount}}</div>
			<div class="text">Connections</div>
		</div>
	</div>
</a>
