<div class="modalMask" id='modalMask' onclick=closeProfileEditModal()></div>
<div class="profileEditModal" id='profileEditModal'>
    <form  action="/profile" method="post" enctype="multipart/form-data" role="form">
    <div class="modalContent">
      <div class="closeButton" onclick=closeProfileEditModal()>
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <div class="contentBox">
          <input  name="_method" value="PUT" type="hidden"></input>
          <input  placeholder="username" name="username" type="text" value="{{user.username}}"></input>
          <input  placeholder="display name" name="displayName" type="text" value="{{user.displayName}}"></input>
          <input  placeholder="location" name="location" type="text" value="{{user.location}}"></input>
          <input  placeholder="Occupation" name="title" type="text" value="{{user.title}}"></input>
          <textarea placeholder="bio" name="bio">{{user.bio}}</textarea>
          {{!-- <input  placeholder="image" name="image" type="file"></input> --}}
      </div>
    </div>
    <div class="modalFooter">
      <div class="cancel underlineOnHover">Cancel</div>
      <input class="modalSubmitButton" type="submit" value="Save"></input>
    </div>
  </form>
</div>