<div onClick="javascript:location.href='/page/{{wwUri}}'" class="feedBundle pageConnection">
	<div class="articleContentBox">
		<div class="articleContent">
			<div class="subBox">
				{{#if this.icon}}
				<div class="articleImg">
					<img src={{this.icon}}>
				</div>
				{{/if}}
				<div class="pageUrl">
					<a href={{this.pageUrl}}>
						<span>
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</span>
						<span>{{this.pageUrl}}</span>
					</a>
				</div>
			</div>
			<div class="titleURL">
				{{this.title}}
			</div>
			<div class="descriptionText">
				{{this.description}}
			</div>
		</div>
	</div>

	<div class="metaBar">
		<div class="connector" title="First Connector">
			<span class="imgWrapper">
				<img class="connectorImg" src="{{avatarNotNull user.avatar}}" />
			</span>
			<span class="username">
				{{user.displayName}}
			</span>
		</div>
	</div>

</div>

{{#section 'foot'}}
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
