<div onClick="javascript:location.href='/page/{{wwUri}}'" class="feedBundle pageConnection">
	<div class="articleContentBox">
		<div class="articleContent">
			<div class="titleURL">
				{{this.title}} Placeholder Title, Because Where Else Would This Go?
			</div>
			<div class="descriptionText">
				{{page.description}} "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
			</div>
		</div>
		{{#if this.icon}}
		<div class="articleImg">
			<img src={{this.icon}}>
		</div>
		{{else}}
		<div class="articleImg">
			<img src='../static/img/example_article_img.png'>
		</div>
		{{/if}}
	</div>
</div>

{{#section 'foot'}}
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
