<div onClick="javascript:location.href='/page/{{wwUri}}'" class="feedBundle pageConnection">
	<div class="articleContentBox">
		<div class="articleContent">
			<div class="titleURL">
				{{this.title}}
			</div>
			<div class="descriptionText">
				{{this.description}}
			</div>
		</div>
		{{#if this.icon}}
		<div class="articleImg">
			<img src={{this.icon}}>
		</div>
		{{/if}}
	</div>

	<div class="metaBar">
		<div class="connector" title="First Connector">
			<span style="margin-right: 8px;">Connected By</span>
			<span class="imgWrapper">
				<img class="connectorImg" src="{{avatarNotNull user.avatar}}" />
			</span>
			<span class="username">
				{{user.displayName}}
			</span>
		</div>
	</div>

</div>

{{#section 'foot'}}
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
