
<div onClick="javascript:location.href='/page/{{wwUri}}?pp=true'" class="feedBundle pageConnection">
	<div class="articleContentBox">
		<div class="articleContent">
			<div class="subBox">
				{{#if this.icon}}
				<a href={{this.pageUrl}}>
					<div class="articleImg">
						<img src={{this.icon}} onerror="this.src = '/static/img/blank_icon.png';"/>
					</div>
				</a>
				{{else}}
				<a href={{this.pageUrl}}>
					<div class="atagBox" style="width: 24px; color: #999; padding-left: 4px;">
						<i class="fa fa-external-link icon" aria-hidden="true"></i>
					</div>
				</a>
				{{/if}}
				<div class="pageUrl">
					<a href="{{this.pageUrl}}">
						<span>{{this.pageUrl}}</span>
					</a>
				</div>
			</div>
			<div class="titleURL">
				{{this.title}}
			</div>
			{{#if this.description}}
			<div class="descriptionText">
				{{this.description}}
			</div>
			{{/if}}
		</div>
	</div>

	<div class="metaBar">
		<div class="topics">
		{{#if this.tags}}
			{{#if this.tags.0.label}}
			<span class="topic">{{this.tags.0.label}}</span>
				{{#if this.tags.1.label}}
				<span class="bullet"> · </span>
				{{/if}}
			{{/if}}
			{{#if this.tags.1.label}}
			<span class="topic">{{this.tags.1.label}}</span>
				{{#if this.tags.2.label}}
				<span class="bullet"> · </span>
				{{/if}}
			{{/if}}
			{{#if this.tags.2.label}}
			<span class="topic">{{this.tags.2.label}}</span>
			{{/if}}
		{{/if}}
		</div>
		<div class="connector" title="First Connector">
			{{#if user}}
			<span class="imgWrapper">
				<img class="connectorImg" src="{{avatarNotNull user.avatar}}" />
			</span>
			<span class="username">
				<a href="http://twitter.com/{{user.username}}" style="color: #666;">
					{{user.displayName}}
				</a>
			</span>
			{{/if}}
		</div>
	</div>

</div>

{{#section 'foot'}}
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
