<div class="pageCard">
  <div class="articleContentBox">
  	<div class="articleContent">
  		<div class="subBox">
	  		{{#if page.icon}}
	  		<a href={{page.pageUrl}}>
					<div class="articleImg">
						<img src={{page.icon}}>
					</div>
				</a>
				{{else}}
				<a href={{page.pageUrl}}>
					<div class="atagBox" style="width: 24px; color: #999; padding-left: 4px;">
						<i class="fa fa-external-link icon" aria-hidden="true"></i>
					</div>
				</a>
				{{/if}}
				<div class="pageUrl">
					<a href={{page.pageUrl}}>
						<span>{{page.pageUrl}}</span>
					</a>
				</div>
			</div>
			<div class="titleURL">
				{{page.title}}
			</div>
		</div>
	</div>
</div>
