<div onClick="javascript:location.href='/page/{{wwUri}}'" class="feedBundle pageConnection">
	<div class="articleContentBox">
		<div class="articleContent">
			<div class="subBox">
				{{#if this.icon}}
				<a href={{this.pageUrl}}>
					<div class="articleImg">
						<img src={{this.icon}}>
					</div>
				</a>
				{{else}}
				<a href={{this.pageUrl}}>
					<div class="atagBox" style="width: 24px; color: #999; padding-left: 4px;">
						<i class="fa fa-external-link icon" aria-hidden="true"></i>
					</div>
				</a>
				{{/if}}
				<div class="pageUrl">
					<a href={{this.pageUrl}}>
						<span>{{this.pageUrl}}</span>
					</a>
				</div>
			</div>
			<div class="titleURL">
				{{this.title}}
			</div>
			<div class="descriptionText">
				{{this.description}}
			</div>
		</div>
	</div>

	<div class="metaBar">
		<div class="connector" title="First Connector">
			{{#if user}}
			<span class="imgWrapper">
				<img class="connectorImg" src="{{avatarNotNull user.avatar}}" />
			</span>
			<span class="username">
				<a href="http://twitter.com/{{user.username}}" style="color: #666;">
					{{user.displayName}}
				</a>
			</span>
			{{else}}
			<a href={{this.pageUrl}}>
				<span class="atag">
					&#60;&#97;&#47;&#62; {{!-- a tag --}}
				</span>
			</a>
			{{/if}}
		</div>
	</div>

</div>

{{#section 'foot'}}
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
