<div class="pageCard">
  <div class="articleContentBox">
  	<div class="articleContent">
			<div class="titleURL">
				{{page.title}}
			</div>
			<div class="pageUrl">
				<a href={{page.pageUrl}}>
					<span>
						<i class="fa fa-external-link" aria-hidden="true"></i>
					</span>
					<span>{{page.pageUrl}}</span>
				</a>
			</div>
			<div class="descriptionText">
				{{page.description}}
			</div>
		</div>
		{{#if page.icon}}
		<div class="articleImg">
			<img src={{page.icon}}>
		</div>
		{{/if}}
	</div>
	<a class="askQuestionButton" onClick=openConnectModal()>
		<div class="connectButton">
			Connect
		</div>
	</a>
</div>


{{toJSON page}}