{{> navbar navIndex='page'}}

<div class="resultPage">
	{{> modalconnect}}
	{{> messages}}
	<div class="contentWrapper">
		<div class="layout_3col_left">
			<div class="pagedList">
				<h3 class="title">
					<div class="title_with_link">
						Filter
					</div>
				</h3>
				{{#if page.isParsed}}
					<input hidden type="checkbox" id="isParsed" checked>
					<div class="pagedListItem top_stories">
						<ul>
							<li>
								<a data-label="wikiweball" class="topicLinkAll" href="javascript:void(null)" onClick="javascript:window.location=location.pathname">All</a>
							</li>
						</ul>
					</div>
					{{#each tags}}
						<div class="pagedListItem top_stories">
							<ul>
								<li>
									<a data-label="{{this.label}}" class="topicLink" href="?topic={{this.label}}">{{this.label}}
										{{#if (greaterThan this.count 1)}}
											({{this.count}})
										{{/if}}
									</a>
								</li>
							</ul>
						</div>
					{{/each}}
				{{else}}
					<div style="width: 100%; text-align: center;">
						<img src="/static/img/loading_dots.gif" style="width: 50px;" />
					</div>
					<input hidden type="checkbox" id="isParsed">
				{{/if}}
			</div>
		</div>
		<div class="layout_3col_center">
			{{> pageCard }}
			{{#if destinations}}
				<div class="resultHelperCopy">
					<b>Results</b>
				</div>
			{{else}}
				{{#if links}}
					<div class="resultHelperCopy">
						<b>Results</b>
					</div>
				{{/if}}
			{{/if}}


			{{#if destinations}} {{!-- user generated connection --}}
				{{#each destinations}}
					{{> pageConnection }}
				{{/each}}
			{{else}}
				<div id="tagwait" style="width: 100%; text-align: center; display: none;">
					<div style="margin-top: 20px; color: #666">
						<em>Searching the WikiWeb for connections</em>
					</div>
					<img src="/static/img/oohLookAtMe.gif" style="margin-top: 20px;"/>
				</div>
			{{/if}}
			{{#if links}} {{!-- a-tags --}}
				{{#each links}}
					{{> pageConnection }}
				{{/each}}
			{{else}}
				{{#if destinations}}
				{{else}}
				<div id="waitforresponse" style="margin-top: 30px;">
					<b>There are no connections to this page yet. Be the first to add one!</b>
				</div>
				<a class="askQuestionButton" onClick=openConnectModal()>
					<div class="connectButton turnoffwhenloading" style="margin-top: 20px; padding-left: 20px; padding-right: 20px;">
						Add Connection
					</div>
					<div id="connectwait" style="width: 100%; text-align: center; display: none;">
						<img src="/static/img/loading_dots.gif" style="width: 50px;" />
					</div>
				</a>
				{{/if}}
			{{/if}}
			{{!-- {{toJSON links}} --}}

		</div>
		<div class="layout_3col_right">
			{{#if connectionUsers}}
				<div style="margin-bottom: 10px;">
	  			<div class="section_header" style="margin-bottom: 8px; margin-right: 50px;">
	          <div class="header_text">
	            <span>Contributors</span>
	          </div>
	        </div>
					{{#each connectionUsers}}
					<div class="contributorsBox" title="{{this.displayName}}">
						<span>
							<a href="https://twitter.com/{{this.username}}">
								<img src="{{avatarNotNull this.avatar}}" style="height: 22px; width: 22px;" />
							</a>
						</span>
						<span>
							<a href="https://twitter.com/{{this.username}}" style="color: #666;">{{this.displayName}}</a>
						</span>
					</div>
					{{/each}}
				</div>
			{{/if}}
			{{#if destinations}}
			<div style="margin-bottom: 20px; width: 150px; color: white; text-align: center;">
				<a class="askQuestionButton" onClick=openConnectModal()>
					<div class="connectButton turnoffwhenloading" style="width: 100%">
						Add Connection
					</div>
					<div id="connectwait" style="width: 100%; text-align: center; display: none;">
						<img src="/static/img/loading_dots.gif" style="width: 50px;" />
					</div>
				</a>
			</div>
			{{else}}
			 {{#if links}}
				<div style="margin-bottom: 20px; width: 150px; color: white; text-align: center;">
					<a class="askQuestionButton" onClick=openConnectModal()>
						<div class="connectButton turnoffwhenloading" style="width: 100%">
							Add Connection
						</div>
						<div id="connectwait" style="width: 100%; text-align: center; display: none;">
							<img src="/static/img/loading_dots.gif" style="width: 50px;" />
						</div>
					</a>
				</div>
				{{/if}}
			{{/if}}
		</div>
	</div>
</div>

{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/static/js/jquery.debounce-1.0.5.js"></script>
<script type="application/javascript" src="/static/js/handlebars.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
