{{> navbar navIndex='page'}}

<div class="resultPage">
	{{> modalconnect}}
	{{> messages}}
	<div class="contentWrapper">
		<div class="layout_3col_left">
			<div class="pagedList">
				<h3 class="title">
					<div class="title_with_link">
						Topics
					</div>
				</h3>
				{{#if page.isParsed}}
					<input hidden type="checkbox" id="isParsed" checked>
				{{else}}
					<div style="width: 100%; text-align: center;">
						<img src="/static/img/loading_dots.gif" style="width: 50px;" />
					</div>
					<input hidden type="checkbox" id="isParsed">
				{{/if}}
				{{#each tags}}
					<div class="pagedListItem top_stories">
						<ul>
							<li>
								<a data-label="{{this.label}}" class="topicLink" href="?topic={{this.label}}">{{this.label}}</a>
							</li>
						</ul>
					</div>
				{{/each}}
			</div>
		</div>
		<div class="layout_3col_center">
			{{> pageCard }}
			{{#if destinations}}
				{{#each destinations}}
					{{> pageConnection }}
				{{/each}}
			{{else}}
				<div id="tagwait" style="width: 100%; text-align: center; display: none;">
					<img src="/static/img/loading_dots.gif" style="width: 50px;" />
				</div>
				<div style="margin-top: 30px;">
					<b>There are no connections to this page yet. Be the first to add one!</b>
				</div>
			{{/if}}

			{{toJSON links}}

		</div>
		<div class="layout_3col_right">
			{{#if connectionUsers}}
				<div style="margin-bottom: 10px;">
	  			<div class="section_header" style="margin-bottom: 8px; margin-right: 50px;">
	          <div class="header_text">
	            <span>Contributors</span>
	          </div>
	        </div>
					{{#each connectionUsers}}
					<div class="contributorsBox" title="{{this.displayName}}">
						<span>
							<a href="https://twitter.com/{{this.username}}">
								<img src="{{avatarNotNull this.avatar}}" style="height: 22px; width: 22px;" />
							</a>
						</span>
						<span>
							<a href="https://twitter.com/{{this.username}}" style="color: #666;">{{this.displayName}}</a>
						</span>
					</div>
					{{/each}}
				</div>
			{{/if}}
			<div style="margin-bottom: 20px; width: 150px; color: white; text-align: center;">
				<a class="askQuestionButton" onClick=openConnectModal()>
					<div class="connectButton" style="width: 100%">
						Add Connection
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/static/js/jquery.debounce-1.0.5.js"></script>
<script type="application/javascript" src="/static/js/handlebars.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
