
{{> navbar navIndex='profile'}}
{{> messages }}

{{#section 'head'}}
    <link rel="stylesheet" href="/static/css/vendor/css/croppie.css">
{{/section}}

<div>
  Profile
  <br />
  <br />
  <br />
  <br />
  <div class="demo"></div>
  <form  action="/profile" method="post" enctype="multipart/form-data" role="form">
    <input  name="_method" value="PUT" type="hidden"></input>
    <input  placeholder="username" name="username" type="text" value="{{user.username}}"></input>
    <input  placeholder="display name" name="displayName" type="text" value="{{user.displayName}}"></input>
    <input  placeholder="location" name="location" type="text" value="{{user.location}}"></input>
    <input  placeholder="Occupation" name="title" type="text" value="{{user.title}}"></input>
    <textarea placeholder="bio" name="bio">{{user.bio}}</textarea>
    <input  placeholder="image" name="image" type="file"></input>
    <input type="submit" value="Save"></input>
  </form>
  <hr />

{{> navbar navIndex='profile'}}

<div class="profilePage">
  {{> modalProfileEdit }}
  <div class="contentWrapper">
    <div class="container">
      <div class="wideCol">
        <div class="whole">
          <div class="left">
            <img class="bigProfileImg" src="{{user.avatar}}?{{getTime}}"/>
          </div>
          <div class="right">
            <div class="name editable">
              {{#if user.displayName}}
              <span>{{user.displayName}}</span>
              {{else}}
              <span class="incomplete">Display Name</span>
              {{/if}}
              <span class="editButton">edit</span>
            </div>
            <div class="display_name editable">
              {{#if user.title}}
              <span>{{user.title}}</span>
              {{else}}
              <span class="incomplete">title</span>
              {{/if}}
              <span class="editButton">edit</span>
            </div>
            <div class="bio editable">
              {{#if user.bio}}
              <span>{{user.bio}}</span>
              {{else}}
              <span class="incomplete">bio</span>
              {{/if}}
              <span class="editButton">edit</span>
            </div>
          </div>
        </div>
        <div class="split">
          <div class="left">
            {{!-- <div class="section_header">
              <div class="header_text">
                <span>Topics</span>
              </div>
            </div> --}}
          </div>
          <div class="right">
            <!-- TODO. See list of recent activity >>> Add link here. -->
          </div>
        </div>
      </div>
      <div class="rightCol">
      </div>
    </div>
  </div>
  {{toJSON user}}
</div>


{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/static/js/jquery.debounce-1.0.5.js"></script>
<script type="application/javascript" src="/static/js/handlebars.js"></script>
<script type="application/javascript" src="/static/js/croppie.min.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
<script type="application/javascript" src="/static/js/imageCropper.js"></script>
{{/section}}
