
{{> navbar navIndex='profile'}}
{{> messages }}

{{#section 'head'}}
    <link rel="stylesheet" href="/static/css/vendor/css/croppie.css">
{{/section}}

<div>
  Profile
  {{toJSON user}}
	{{> messages}}

  <div class="demo"></div>
  <form  action="/profile" method="post" enctype="multipart/form-data" role="form">
    <input  name="_method" value="PUT" type="hidden"></input>
    <input  placeholder="username" name="username" type="text" value="{{user.username}}"></input>
    <input  placeholder="display name" name="displayName" type="text" value="{{user.displayName}}"></input>
    <input  placeholder="location" name="location" type="text" value="{{user.location}}"></input>
    <input  placeholder="Occupation" name="title" type="text" value="{{user.title}}"></input>
    <textarea placeholder="bio" name="bio">{{user.bio}}</textarea>

    <input type="submit" value="Save"></input>
  </form>
  <hr />
  <input  id="profileInput" placeholder="image" name="image" type="file"></input>
  <img id="profile-img" src="{{user.avatar}}" />

  <div id="profile-crop-holder" style="width:300px; height:300px; display:none">
    <img id="profile-crop" />
    <button id="croppedResult" value="Crop" type="button">Submit</button>
  </div>

{{> navbar navIndex='profile'}}
{{> messages }}


<div class="profilePage">
  <div class="contentWrapper">
    <div class="container">
      <div class="wideCol">
        <div class="whole">
          <div class="left">
            <img class="bigProfileImg" src="/static/img/profile.jpg" />
          </div>
          <div class="right">
            <div class="name">Eoin McMillan</div>
            <div class="profile_title">Reader, writer, dreamer.</div>
            <div class="bio">I work at SFDevLabs where we build mobile and web apps, and help startups with strategy to achieve their goals.</div>
          </div>
        </div>
        <div class="split">
          <div class="left">
            <div class="section_header">
              <div class="header_text">
                <span>Recent Activity</span>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="section_header">
              <div class="header_text">
                <span>Recent Activity</span>
              </div>
            </div>
            <div class="feedBundle">
              <div class="feedBundleMeta">
                <span class="feedItemType">Connection</span>
                <span class="bullet"> 路 </span>
                <span class="topic">
                  <a>
                    CRISPR
                  </a>
                </span>
                <span class="bullet"> 路 </span>
                <span class="feedReason">
                  Topic you might like
                </span>
                <span class="bullet"> 路 </span>
                <span class="timestamp">
                  <a>21m</a>
                </span>
              </div>
              <div class="bundleTitle">
                How a Single Gene Could Become a Volume Knob for Pain
              </div>
              <div class="contentMain">
                Harnessing rare genetic mutations could help end America's opioid epidemic.
              </div>

              <div class="divider"></div>

              <div class="centerAlign">
                <div class="contentHeader">
                  <span class="imgWrapper">
                    <img src="/static/img/example_user.jpeg" class="userImg" />
                  </span>
                  <span class="layoutTextWrapper">
                    <div>
                      <span class="username">Adam D'Angelo</span><span class="userInfo">, CEO at Quora
                      </span>
                    </div>
                    <div class="credibilityFacts feedBundleMeta">
                      <span class="timestamp">
                        <a>Connected 13h ago</a>
                      </span>
                      <span class="bullet"> 路 </span>
                      <span class="hoverUnderline">
                        <a>Requested by Eoin McMillan</a>
                      </span>
                    </div>
                  </span>
                </div>
              </div>
              <div class="divider"></div>
              <div class="bundleTitle">
                CRISPR - Wikipedia
              </div>
              <div class="contentMain">
                Clustered regularly interspaced short palindromic repeats (CRISPR, pronounced crisper) are segments of prokaryotic DNA containing short, repetitive base sequences.
              </div>
              <div class="actionBar">
                <span class="connectButton">
                  Connect
                </span>
                <span class="connections underlineOnHover">
                  Connections<span class="connectionsTotal">4</span>
                </span>
                <div class="socialShare">
                  <span class="shareIcon">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  </span>
                  <span class="shareIcon">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </span>
                  <span class="shareIcon">
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                  </span>
                  <span class="shareIcon">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
      <div class="rightCol">
      </div>
    </div>
  </div>
</div>


{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/static/js/jquery.debounce-1.0.5.js"></script>
<script type="application/javascript" src="/static/js/handlebars.js"></script>
<script type="application/javascript" src="/static/js/croppie.min.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
<script type="application/javascript" src="/static/js/imageCropper.js"></script>
{{/section}}
