{{> navbar}}

{{#if errorMessage}}
	<div style="top:70px; left:50px; position: absolute;" class="alert alert-danger">
		{{errorMessage}}
	</div>
{{/if}}

<div class="searchPage">

	{{> modal}}

	<div class="contentWrapper">
		{{> messages}}
		<div class="layout_3col_center">
			<div class="section_header">
				<div class="header_text">
					{{#if (isLength pages.length 0)}}
							<span>No Result Found</span>
					{{else if (isLength pages.length 1)}}
						<span>Found 1 Result</span>
					{{else}}
						<span>Found {{pages.length}} Results</span>
				</div>
			</div>

			<div class="noResultFound">
				<div class="titleURL">
					http://www.abc.net.au/news/2017-04-21/paris-shooting-one-police-officer-killed-two-wounded/8459914
				</div>
				<div class="explanatoryText">
					The link you have requested does not exist inside the WikiWeb. This means nobody has asked for similar content recommendations, or connected similar sites to it.
				</div>
				<div class="actionBar">
					<a onClick=openRecommendationsModal() href="javascript:void()" class="connectButton">
						Request Recommendations
					</a>
				</div>
			</div>
			{{/if}}

			<div style="height: 20px;" content=""></div>
			<div class="section_header">
				<div class="header_text">
					<span>Search Results</span>
				</div>
			</div>


				{{#if addPage}}
					<div style="top:70px; left:50px; position: absolute;" class="alert alert-danger">
						{{addPage.title}}
						{{addPage.description}}
					</div>
				{{/if}}

				{{#each pages}}
					<div onClick="javascript:location.href='/page/{{wwUri}}'" class="feedBundle">
						<div class="feedBundleMeta">
							<span class="feedItemType">Feed Question</span>
							<span class="bullet"> 路 </span>
							<span class="topic">
								<a>
									Class Warfare
								</a>
							</span>
							<span class="bullet"> 路 </span>
							<span class="feedReason">
								Topic you might like
							</span>
							<span class="bullet"> 路 </span>
							<span class="timestamp">
								<a>21m</a>
							</span>
						</div>
						<div class="bundleTitle">
							{{title}}
						</div>
						<div class="contentHeader">
							<span class="imgWrapper">
								<img src="/static/img/example_user.jpeg" class="userImg" />
							</span>
							<span class="layoutTextWrapper">
								<div>
									<span class="username">{{user.username}}</span><span class="userInfo">, Science Officer of the USS Enterprise
									</span>
								</div>
								<div class="credibilityFacts feedBundleMeta">
									<span class="timestamp">
										<a>Connected 13h ago</a>
									</span>
									<span class="bullet"> 路 </span>
									<span class="hoverUnderline">
										<a>Requested by Eoin McMillan</a>
									</span>
								</div>
							</span>
						</div>
						<div class="contentMain">
							{{description}}
						</div>
						<div class="actionBar">
							<span class="upvoteButton connectButton">
								Upvote
							</span>
							<span class="downvote underlineOnHover">
								Downvote
							</span>
							<span class="comments underlineOnHover">
								Comments<span class="commentsTotal">10</span>
							</span>
							<div class="socialShare">
								<span class="shareIcon">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</span>
								<span class="shareIcon">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</span>
								<span class="shareIcon">
									<i class="fa fa-share-square-o" aria-hidden="true"></i>
								</span>
								<span class="shareIcon">
									<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>

				{{/each}}
			</div>
		</div>
	</div>

</div>
{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
