<div class="appNav">
	<div class="appNavInner">
		<div class="wikiwebLogo">
			<a href="/">
				<span>WikiWeb</span>
			</a>
		</div>
		<form id="askform" class="searchBox" action="/search" method="get">
			<input
				type="text"
				id="email"
				name="q"
				placeholder="Ask or Search the WikiWeb"
				onkeypress="searchOnEnter()"
			></input>
			<input class="submitButton" type="submit" value="Submit"></input>
		</form>
		<div class="pageButtons">
			<div class="pageButton">
				<div class="buttonContents currentPage">
					<span class="icon">
						<i class="fa fa-hand-paper-o" aria-hidden="true"></i>
					</span>
					<span class="text">Requests</span>
				</div>
			</div>
			<div class="pageButton">
				<div class="buttonContents">
					<span class="icon">
						<i class="fa fa-bullseye" aria-hidden="true"></i>
					</span>
					<span class="text">Connections</span>
				</div>
			</div>
			<div class="pageButton">
				<div class="buttonContents">
					<span class="icon">
						<i class="fa fa-bell-o" aria-hidden="true"></i>
					</span>
					<span class="text">Notifications</span>
				</div>
			</div>
			<div class="pageButton">
				<div class="buttonContents">
					<span class="userImg">
						<img src="/static/img/profile.jpg" class="userImg" />
					</span>
					<span class="text">User</span>
				</div>
			</div>
		</div>
	</div>
</div>

{{#if errorMessage}}
	<div style="top:70px; left:50px; position: absolute;" class="alert alert-danger">
		{{errorMessage}}
	</div>
{{/if}}

<div class="searchPage">

	{{> modal}}

	<div class="contentWrapper">
		{{> messages}}
		<div class="layout_3col_center">
			<div class="section_header">
				<div class="header_text">
					<span>No Result Found</span>

				</div>
			</div>

			<div class="noResultFound">
				<div class="titleURL">
					http://www.abc.net.au/news/2017-04-21/paris-shooting-one-police-officer-killed-two-wounded/8459914
				</div>
				<div class="explanatoryText">
					The link you have requested does not exist inside the WikiWeb. This means nobody has asked for similar content recommendations, or connected similar sites to it.
				</div>
				<div class="actionBar">
					<a onClick=openRecommendationsModal() href="javascript:void()" class="connectButton">
						Request Recommendations
					</a>
				</div>
			</div>

			<div style="height: 20px;" content=""></div>
			<div class="section_header">
				<div class="header_text">
					<span>Search Results</span>
				</div>
			</div>
			<!-- Result Example -->
				<div class="feedBundle searchResult">
					<div class="feedBundleMeta">
						<span class="topic">
							<a>
								Brain Hacking
							</a>
						</span>
						<span class="bullet"> · </span>
						<span class="topic">
							<a>
								Donald Trump
							</a>
						</span>
						<span class="bullet"> · </span>
						<span class="topic">
							<a>
								Reticent Tapwater
							</a>
						</span>
					</div>
					<div class="bundleTitle">
						Ep. 224: Dave Asprey – The Way To Evolve Better (in 5 steps)
					</div>
					<div class="contentMain">
						Dave Asprey wants to live to be 180 years old and I don’t really believe it’s possible. But I admire him for trying. I’m fine if I die tomorrow. I feel I created good kids. Mission accomplished. BUT, if I have to live longer, I want to have high quality of life. When I read …
					</div>
				</div>

				<!-- Result Example -->
				<div class="feedBundle searchResult">
					<div class="feedBundleMeta">
						<span class="topic">
							<a>
								Politics
							</a>
						</span>
						<span class="bullet"> · </span>
						<span class="topic">
							<a>
								Chumptown
							</a>
						</span>
						<span class="bullet"> · </span>
						<span class="topic">
							<a>
								Terry Bolea
							</a>
						</span>
					</div>
					<div class="bundleTitle">
						Marc Edwards - How to Address the U.D. Water Crisis in Flint and Beyond.
					</div>
					<div class="contentMain">
						Virginia Tech Professor Marc Edwards talks about the ongoing contaminated water crisis in Flint, MI, and weighs in on the lead piping concerns in other low-income areas.
					</div>
				</div>

				{{#if addPage}}
					<div style="top:70px; left:50px; position: absolute;" class="alert alert-danger">
						{{addPage.title}}
						{{addPage.description}}
					</div>
				{{/if}}
				{{ pages.length }}
				{{ pages }}
				{{#each pages}}
					{{ toJSON this }}
					<div>Page</div>
					<div>Page</div>
					<div>Page</div>
					<div>Page</div>
					<div>Page</div>
					<div>Page</div>
					<div>Page</div>
					<div>Page</div>
					<div class="feedBundle">
						<div class="feedBundleMeta">
							<span class="feedItemType">Feed Question</span>
							<span class="bullet"> · </span>
							<span class="topic">
								<a>
									Class Warfare
								</a>
							</span>
							<span class="bullet"> · </span>
							<span class="feedReason">
								Topic you might like
							</span>
							<span class="bullet"> · </span>
							<span class="timestamp">
								<a>21m</a>
							</span>
						</div>
						<div class="bundleTitle">
							{{title}}
						</div>
						<div class="contentHeader">
							<span class="imgWrapper">
								<img src="/static/img/example_user.jpeg" class="userImg" />
							</span>
							<span class="layoutTextWrapper">
								<div>
									<span class="username">{{user.username}}</span><span class="userInfo">, Science Officer of the USS Enterprise
									</span>
								</div>
								<div class="credibilityFacts feedBundleMeta">
									<span class="timestamp">
										<a>Connected 13h ago</a>
									</span>
									<span class="bullet"> · </span>
									<span class="hoverUnderline">
										<a>Requested by Eoin McMillan</a>
									</span>
								</div>
							</span>
						</div>
						<div class="contentMain">
							{{description}}
						</div>
						<div class="actionBar">
							<span class="upvoteButton">
								Upvote
							</span>
							<span class="downvote underlineOnHover">
								Downvote
							</span>
							<span class="comments underlineOnHover">
								Comments<span class="commentsTotal">10</span>
							</span>
							<div class="socialShare">
								<span class="shareIcon">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</span>
								<span class="shareIcon">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</span>
								<span class="shareIcon">
									<i class="fa fa-share-square-o" aria-hidden="true"></i>
								</span>
								<span class="shareIcon">
									<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>

</div>
{{#section 'foot'}}
<!-- <script type="application/javascript" src="http://0.0.0.0:8090/js/home.js"></script> -->
<script type="application/javascript" src="/static/js/main.js"></script>
{{/section}}
